<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>Vagas</nb-card-header>
            <nb-card-body>
                <form class="form-inline">
                    <input type="text" nbInput placeholder="Quantidade de vagas" [(ngModel)]="novoNumVagas.vagas" name="vagas">
                    <button (click)="insert()" type="submit" nbButton status="primary">Salvar</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>